
<ul data-role="listview" data-split-theme="d" data-split-icon="star">
	<li>
	<a href="<%= edit_user_path(@user) %>">
		<%= gravatar_for @user, :size => 80 %>
		<h3><%= @user.name %></h3>
		<p><%= @user.email %> (Click star to email)</p>
		<p><%= @user.country %></p>
	</a>
	<a href="mailto:<%= @user.email %>" title="Email" data-theme="c">
	</a>
	</li>
</ul>
