<%= form_for(@lesson, :html => { "data-ajax"=>"false" } ) do |f|	%>
	<%= render 'shared/error_messages', :object => f.object %>
	<p><%= f.label :title, "Lesson Title" %><br />
	<%= f.text_field :title %></p>

	<p><%= f.label	:lesson_content %><br />
	<%= f.text_area :lesson_content %></p>

	<%= f.fields_for :bullet_points do |bullet_point| %>
	<h3>Bullet Points:</h3>
	<hr />
	<p>	<%= render 'bullet_point_fields', :f => bullet_point %></p>
	<% end %>
	<%= link_to_add_fields "Add One More Bullet Point", f, :bullet_points, "add_fields_bullet_point" %>
	<%= f.submit "Create / Update a lesson"%>
	<br />
<% end %>