<h1><%= @lesson.title %></h1>
<a href="<%= edit_lesson_path(@lesson) %>" data-role="button" data-icon="grid">Edit this lesson</a>
<p><%= @lesson.lesson_content %></p>
<% unless @bullet_points.empty? %>
<ol data-role="listview" data-theme="c">
   	<%= render @bullet_points %>
	<%= will_paginate @bullet_points %>
</ol>
<% end %>
