<%= form_for(@chapter) do |f|	%>
	<%= render 'shared/error_messages', :object => f.object %>
	<p><%= f.label :title, "Chapter Title" %><br />
	<%= f.text_field :title %></p>

	<p><%= f.label	:content, "Chapter Introduction (if any)" %><br />
	<%= f.text_area :content %></p>

	<h3>Lessons:</h3>
	<p>Note: Don't worry if you don't see bullet points and bible verses, you get to create them by going to each individual lesson</p>
	<hr />
	<%= f.fields_for :lessons do |lesson| %>
	<p>	<%= render 'lesson_fields', :f => lesson %></p>
	<% end %>
	<%= link_to_add_fields "Add One More Lesson", f, :lessons, "add_fields_lesson" %> 
	<%= f.submit "Create / Update Chapter" %>
	<br />
<% end %>