<h1>All Chapters</h1>
<div data-role="controlgroup">
<a href="<%= root_path %>" data-ajax="false" data-role="button" data-icon="back">Back to home</a>
<a href="<%= new_chapter_path %>" data-ajax="false" data-role="button" data-icon="plus">Add a new chapter</a>
</div>

<%= will_paginate %>

<ul data-role="listview" data-split-theme="d" data-split-icon="delete">
  <%= render @chapters %>
</ul>

<%= will_paginate %>