<h1><%= @chapter.title %> lessons</h1>
<p><%= @chapter.content %></p>
<div data-role="controlgroup">
<a href="<%= chapters_path %>" data-role="button" data-icon="grid">Back to all chapters</a>	
<a href="<%= edit_chapter_path(@chapter) %>" data-role="button" data-icon="grid">Edit this chapter</a>
</div>
<% unless @lessons.empty? %>
<ol data-role="listview" data-split-theme="d" data-split-icon="delete">
   	<%= render @lessons %>
	<%= will_paginate @lessons %>
</ol>
<% end %>
