<!-- <footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.facebook.com/groups/214193508621459/">Soul Unity</a></li>
    </ul>
  </nav>
</footer>
-->
<div data-role="footer" data-theme="b">
	<div data-role="navbar">
		<ul>
	   <li><%= link_to "About", about_path, "data-role"=>"button", :class => "ui-btn-left" %></li>
	   <li><%= link_to "Contact", contact_path, "class" => "ui-btn-center" %></li>
	   <li><%= link_to "Facebook", "http://www.facebook.com/groups/214193508621459/", "class" => "ui-btn-right" %></li>
		</ul>
	</div>
</div>